/* 
1. Posicionamiento
2. Modelo caja
3. Tipografía
4. Visuales
5. Otros
*/
:root {
    /* Colores */
    --blue-dark: #0C151D;
    --blue-light: #171F26;
    --grey-bg: #E5E5E5;
    --grey-dark: #A3ABB2;
    --grey-light: #F1F2F4;
    --grey-font: #575757;
    --yellow-opaque: #FBD144;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-size: 62.5%;
}
body {
    background: var(--blue-dark);
    color: var(--grey-dark);
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    min-width: 320px;
    height: 277px;
    margin: 96px 0 30px 0;
    text-align: center;
}
header img {
    width: 124px;
    height: 124px;
    align-self: center;
    margin-bottom: 38px;
    border-radius: 50%;
    border: 4px solid var(--yellow-opaque);
}
/* Animation */
h1 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--grey-light);
}
.header__title h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.header__title .social-icons {
    width: 174px;
    height: 24px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.social-icons .social-icons__links {
    height: 24px;
}
.social-icons__links .icons {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.github {
    background-image: url('../assets/icons/github.svg');
}
.linkedin {
    background-image: url('../assets/icons/linkedin.svg');
}
.youtube {
    background-image: url('../assets/icons/youtube.svg');
}
main {
    width: 100%;
    min-width: 320px;
    min-height: calc(100vh - 277px);
    padding: 0 20px;
}
.profile-facts {
    width: 100%;
    max-width: 610px;
    min-height: 106px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto 30px auto;
    padding: 20px 0;
    text-align: center;
    gap: 20px;
}
.profile-facts .profile-facts__grid span {
    font-size: 1.6rem;
}
.profile-facts .profile-facts__grid p {
    font-size: 1.4rem;
}
.profile-buttons-container {
    width: 100%;
    max-width: 500px;
    height: 80px;
    padding: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 30px auto;
}
.button {
    width: 130px;
    height: 44px;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.2rem;
    background-color: var(--yellow-opaque);
    color: #3d3d3d;
    border: none;
    border-radius:8px;
    cursor: pointer;
}
.button--blue {
    background-color: var(--blue-light);
    color: var(--grey-dark);
}
.button span {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-left: 10px;
    background-image: url("../assets/icons/download.svg");
}
.briefcase-skills-container {
    width: 100%;
    max-width: 756px;
    height: 84px;
    padding: 10px 0;
    margin: 0 auto 30px auto;
}
.briefcase-skills__buttons {
    width: 100%;
    height: 64px;
    padding: 5px 2px;
    background-color: var(--blue-light);
    border-radius: 8px;
}
.buttons__b-s {
    width: 49%;
    height: 54px;
    display: inline-block;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    background-color: var(--blue-light);
    color: var(--grey-dark);
    cursor: pointer;
}
.briefcase {
    background-color: var(--blue-dark);
}
.skills {
    background-color: transparent;
}
.cards-container{
    margin-bottom: 50px;
}
.cards-container .cards-grid {
    width: 100%;
    max-width: 757px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 362px));
    margin:0 auto;
    justify-content: center;
    gap: 30px; 
} 
.cards-grid a {
    justify-self: center;
}
.cards-grid a .card {
    width: 280px;
    height: 157px;
    border-radius: 8px;
}
footer {
    width: 100%;
    height: auto;
}
footer p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
}
/* dark mode */
header .mode {
    position: absolute;
    top: -76px;
    left: calc(50% - 35px);
}
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    height: 35px;
    background-color: var(--blue-light);
    display: block;
    border-radius: 100px;
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    background-color: var(--grey-light);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
    border-radius: 30px;
    transition: 0.3s;
}
input:checked+label {
    background-color: var(--grey-dark);
}
input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
label:active:after {
    width: 80px;
}
.dark-mode {
    background-color: var(--grey-bg);
    color: var(--grey-font);
}
.dark-mode__title {
    color: #3d3d3d;
}
.bg--white {
    background-color: #ffffff;
    color: #3d3d3d;
}
.bg--grey {
    background-color: #d7d7d7;
    color: #3d3d3d;
}
/* dark mode */