header {
    flex-direction: row;
    place-content: center;
    gap:40px;
    height: 215px;
}
header img {
    margin-bottom: 0px;
    width: 174px;
    height: 174px;
}
h1 {
    font-size: 4.0rem;
}
.header__title h2 {
    font-size: 1.6rem;
}
header .header__title {
    align-self: center;
}
.profile-buttons-container .button {
    width: 230px;
}
.profile-facts {
    max-width: 630px;
}